@model mtg_lib.Library.Models.Card

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/detailed-card.css">
    <title>DetailedCard</title>
</head>
<body>
        <div id="detailed-card-container">
                <h1>Thank you for your order!</h1>
        </div>
</body>
</html>
